

.checkboxContainer .scroll {
  padding: 0 15px 5px;
  overflow: auto;
  width: auto;
  height: auto;
  max-height: 160px;
  overflow: overlay;
}

.checkboxContainer .checkboxItem {
  position: relative;
  font-size: 16px;
  min-height: 38px;
  float: right;
  width: 50%;
  display: flex;
  align-items: center;
  line-height: 1.2rem;
}

.form-check-inline {
  margin: 0!important;
  /* position: fixed!important; */
}

.form-check-inline input[type="radio"]{
  margin: 0!important;
  position: fixed;
}

.checkboxItem input {
  display: none;
}

.form-check-inline label {
  padding-right: 30px;
  padding-left: 10px;
}
*[dir=ltr] .form-check-inline label {
  padding-right: 30px;
  padding-left: 38px;
}
.checkboxItem label {
  margin-bottom: 0;
  cursor: pointer;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.form-check-inline input[type="radio"] + label:after, .form-check-inline input[type="checkbox"] + label:after {
  content: "\f0c8";
  display: block;
  width: 19px;
  height: 19px;
  cursor: pointer;
  background: #fff;
  color: #bec2cb;
  position: absolute;
  right: 0px;
  top: 10px;
  font-family: 'Font Awesome 5' , FontAwesome;
  font-size: 1.4rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
  line-height: 1;
}
.form-check-inline input[type="checkbox"]:checked + label:after {
  content: "\f14a";
  color: #e9ab15;
}
.checkboxItem input[type="checkbox"]:checked + label:after {
  background-position: -48px 0;
}

*[dir=rtl] .form-check-inline input[type="radio"] + label:after, .form-check-inline input[type="checkbox"] + label:after {
  
  left: 0px;
 
}


